{% extends 'index.html' %}

{% block page-title %}
    资产管理
{% endblock %}

{% block page-path %}
    <li><a href="{% url 'index' %}">首页</a></li>
    <li><a href="{% url 'asset' %}">资产管理</a></li>
    <li><a href="{% url 'asset_add' %}">添加资产</a></li>
{% endblock %}

{% block page-content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">选择要创建的资产</h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="col-lg-4">
                <a href="{% url 'asset_add_hardware_server' %}" class="btn col-lg-12">
                    <i class="fa fa-cog fa-spin fa-5x" aria-hidden="true"></i>
                    <span>硬件服务器</span>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="{% url 'asset_add_software_server' %}" class="btn col-lg-12">
                    <i class="fa fa-cog fa-spin fa-5x" aria-hidden="true"></i>
                    <span>软件服务器</span>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="{% url 'asset_hand_add_software_server' %}" class="btn col-lg-12">
                    <i class="fa fa-cog fa-spin fa-5x" aria-hidden="true"></i>
                    <span>软件服务器[手工录入]</span>
                </a>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
{% endblock %}