{% extends 'index.html' %}

{% block page-header %}
    <h1 class="page-header"><i class="ec-users"></i> 管理用户</h1>
{% endblock %}

{% block page-path %}
    <li><a href="{% url 'index' %}">仪表盘</a></li>
    <span>-></span>
    <li><a href="{% url 'user' %}">管理用户</a></li>
    <span>-></span>
    <li><a href="{% url 'user_change_permission' user_id %}">修改用户权限</a></li>
{% endblock %}

{% block page-content %}
    <div class="panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">修改用户权限</h3>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <form id="form" class="form-horizontal" method="post"
                  action="{% url 'user_change_permission' user_id %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <select id="id-permission-from" class="form-control" multiple="multiple" size="20">
                            {% for item in sub_permission_list %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <select id="id-permission-to" name="permission" tag="chosen-list" class="form-control"
                                multiple="multiple" size="20">
                            {% for item in user_permission_list %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <span style="color: red">{{ error }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-11 col-md-offset-11 col-sm-offset-11 col-xs-offset-11 col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <button type="submit" class="btn btn-default">保存</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.panel-body -->
    </div>
{% endblock %}

{% block js %}
    <script>
        $("select[id='id-permission-from']").delegate("option", "dblclick", function () {
            var permission_value = $(this).val();
            var permission_text = $(this).text();
            var opt = document.createElement('option');
            $(opt).text(permission_text);
            $(opt).val(permission_value);
            $("select[id='id-permission-to']").append(opt);
            $(this).remove();
        });
        $("select[id='id-permission-to']").delegate("option", "dblclick", function () {
            var permission_value = $(this).val();
            var permission_text = $(this).text();
            var opt = document.createElement('option');
            $(opt).text(permission_text);
            $(opt).val(permission_value);
            $("select[id='id-permission-from']").append(opt);
            $(this).remove();
        });
        $("#form").submit(function () {
            $("select[tag='chosen-list']").children().each(function () {
                console.log($(this));
                $(this).prop("selected", true);
            });
        });
    </script>
{% endblock %}